{% extends 'base.html' %}

{%block title %}
<title>Loub-Natural</title>
{%endblock%}


{% block content %}
<div class="container">
    {% if user.is_authenticated %}

    <h1>Vítejte, {{ user.username }}!
        Zdraví v každém kroku</h1>
    {% else %}
    <h1>Vítejte na našich stránkách</h1>
      {% endif %}
    <p>
        Hana Loubalová je podnikatelka působící ve Zlíně, která provozuje pod značkou Loub-Natural salon zaměřený na
        pedikúru a přírodní doplňky pro podporu lidského zdraví. Její provozovna se nachází na adrese Vodní 453, 760 01
        Zlín, kde nabízí nejen odborné ošetření nohou, ale také prodej přírodních produktů, které mají napomáhat
        harmonizaci těla a celkovému zdraví. Kromě klasické pedikúry se specializuje i na řešení specifických problémů,
        jako jsou otlaky či kuří oka, s důrazem na prevenci ortopedických komplikací.<br>

        LoubNatural pod vedením Hany Loubalové klade důraz na individuální přístup ke klientům a využívání přírodních
        metod a přípravků. Nabídka služeb je rozšířena o konzultace a doporučení vhodných kosmetických či zdravotních
        produktů pro domácí péči. Klienti oceňují nejen profesionální přístup, ale i možnost zakoupit si přírodní
        doplňky přímo v salonu, což podtrhuje komplexnost poskytovaných služeb.<br>

        Podnikání Hany Loubalové je oficiálně registrováno od roku 2020 a zahrnuje dvě hlavní živnosti – volnou živnost
        v oblasti výroby, obchodu a služeb a řemeslnou živnost v oboru pedikúra. Její činnost je evidována u Magistrátu
        města Zlína a zaměřuje se především na kadeřnické, kosmetické a podobné činnosti. LoubNatural tak představuje
        místo, kde se spojuje péče o zdraví nohou s přírodní filozofií a osobním přístupem ke každému klientovi.
    </p>

</div>

{% endblock %}


