<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" title="První strana">&laquo;&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}" title="Předchozí strana">&laquo;</a>
        {% endif %}

        <span class="current-page">
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current">{{ i }}</span>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% elif i == 1 or i == page_obj.paginator.num_pages %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% elif i == page_obj.number|add:'-3' or i == page_obj.number|add:'3' %}
                    ...
                {% endif %}
            {% endfor %}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" title="Další strana">&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" title="Poslední strana">&raquo;&raquo;</a>
        {% endif %}
    </span>

    <div class="page-info">
        Strana {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
    </div>
</div>
