{% extends 'base.html' %}

{% block title %}
Pedikúra
{% endblock %}


{% block content %}
<h1>Výběr procedůry</h1>
{% if user.is_authenticated %}
<a href="{% url 'pedicure_create' %}" class="btn btn-primary">Přidat</a>
{% endif %}

<ul>
    {% for pedicure in pedicures %}
    <li>
        <a href="{% url 'pedicure_detail' pedicure.id %}">{{ pedicure }}</a>
        {% if user.is_authenticated %}
        <a href="{% url 'pedicure_update' pedicure.id %}" class="btn">✔</a>
        <a href="{% url 'pedicure_delete' pedicure.id %}" class="btn">🗑️</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<div>
    <p class="text-justify">{{ pedikura.description }}</p>
    <p class="mt3"><small class="text-muted">Přidáno do databáze : {{ pedicure.created|date:"j.n.Y G:i" }}</small></p>
    <p class="mt2"><small class="text-muted">Poslední úprava : {{ pedicure.update|date:"j.n.Y G:i" }}</small></p>
</div>


{% endblock %}
