{% extends 'base.html' %}

{% block title %}
      Řasy
{% endblock %}

{% block content %}
<h1>Výběr procedůry</h1>
<a href="{% url 'eyelash_create' %}">Přidat</a>
<ul>
    {% for eyelash in eyelashs %}
    <li>
        <a href="{% url 'eyelash_detail' eyelash.id %}">{{ eyelash }}</a>
        <a href="{% url 'eyelash_update' eyelash.id %}" class="btn btn-primary">✔</a>
        <a href="{% url 'eyelash_delete' eyelash.id %}" class="btn btn-danger">🗑️</a>
    </li>
    {% endfor %}
</ul>

<div>
    <p class="text-justify">{{ eyelash.description }}</p>
    <p class="mt3"><small class="text-muted">Přidáno do databáze : {{ eyelash.created }}</small></p>
    <p class="mt2"><small class="text-muted">Poslední úprava : {{ eyelash.update }}</small></p>
</div>
{% endblock %}
