{% extends 'base.html' %}

{% block title %}
      Zdraví
{% endblock %}

{% block content %}
<h1>Čistíme tělo</h1>
<a href="{% url 'health_create' %}" class="btn btn-primary">Přidat</a>
<ul>
    {% for health in healths %}
    <li>
        <a href="{% url 'health_detail' health.id %}">{{ health }}</a>
        <a href="{% url 'health_update' health.id %}" class="btn">✔</a>
        <a href="{% url 'health_delete' health.id %}" class="btn">🗑️</a>
    </li>
    {% endfor %}

</ul>

<div>
    <p class="text-justify">{{ eyelash.description }}</p>
    <p class="mt3"><small class="text-muted">Přidáno do databáze : {{ health.created }}</small></p>
    <p class="mt2"><small class="text-muted">Poslední úprava : {{ health.update }}</small></p>
</div>

{% endblock %}
