{% extends 'base.html' %}

{% block title %}
Formulář
{% endblock %}

{% block content %}
<div class="container">
    <h2>{% if 'login' in request.path %}Přihlášení{% else %}Formulář{% endif %}</h2>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Přidat</button>
    </form>
</div>
{% endblock %}
